<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
        
        <sessionState mode="InProc" stateNetworkTimeout="20" timeout="2880" />
        <httpRuntime executionTimeout="600" requestValidationMode="2.0" maxRequestLength="51200" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
        <pages validateRequest="false" />
        <customErrors mode="Off" />
    </system.web>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>


</configuration>
